{
  "openapi": "3.0.3",
  "info": {
    "title": "ClickUp API v2 (clickup-todo-cli subset)",
    "version": "2.0.0",
    "description": "A curated, corrected subset of the official ClickUp API v2 reference, containing only the operations clickup-todo-cli uses. The official upstream spec (https://developer.clickup.com/openapi/clickup-api-v2-reference.json, verified 2026-06-24) uses inline, partly-malformed schemas with broken $refs that generate broken C# via Kiota (e.g. 'folders' as a single object instead of an array, duplicated per-endpoint task types, untyped 'status', double-typed id indexers, missing 'last_page' on team tasks). Pulling the official spec does NOT fix this. This file re-expresses the same v2 endpoints with shared component $ref schemas and correct types so Kiota emits a clean, typed client. ClickUp also publishes a v3 spec (https://developer.clickup.com/openapi/ClickUp_PUBLIC_API_V3.yaml) which is a different API surface — see the repo's OpenAPI follow-up issue. Source of truth for scripts/regen-client.ps1."
  },
  "servers": [
    { "url": "https://api.clickup.com/api" }
  ],
  "paths": {
    "/v2/user": {
      "get": {
        "operationId": "GetAuthorizedUser",
        "summary": "Get the authorized user.",
        "responses": {
          "200": {
            "description": "The authorized user.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserResponse" } } }
          }
        }
      }
    },
    "/v2/team": {
      "get": {
        "operationId": "GetAuthorizedTeams",
        "summary": "Get the Workspaces (teams) available to the authorized user.",
        "responses": {
          "200": {
            "description": "The available Workspaces.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WorkspacesResponse" } } }
          }
        }
      }
    },
    "/v2/team/{team_id}/task": {
      "get": {
        "operationId": "GetFilteredTeamTasks",
        "summary": "Get tasks across a Workspace that match the given filters.",
        "parameters": [
          { "name": "team_id", "in": "path", "required": true, "schema": { "type": "string" } },
          {
            "name": "assignees[]",
            "in": "query",
            "description": "Filter by assignee ClickUp user ids.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          { "name": "page", "in": "query", "description": "Page to fetch (starts at 0).", "schema": { "type": "integer" } },
          { "name": "include_closed", "in": "query", "schema": { "type": "boolean" } },
          { "name": "subtasks", "in": "query", "schema": { "type": "boolean" } },
          {
            "name": "date_updated_gt",
            "in": "query",
            "description": "Only tasks updated after this epoch-milliseconds timestamp (delta refresh, #194).",
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching tasks (paginated, 100 per page).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TasksResponse" } } }
          }
        }
      }
    },
    "/v2/team/{team_id}/space": {
      "get": {
        "operationId": "GetSpaces",
        "summary": "Get the Spaces in a Workspace.",
        "parameters": [
          { "name": "team_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "archived", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "The Spaces in the Workspace.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SpacesResponse" } } }
          }
        }
      }
    },
    "/v2/space/{space_id}/folder": {
      "get": {
        "operationId": "GetFolders",
        "summary": "Get the Folders in a Space.",
        "parameters": [
          { "name": "space_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "archived", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "The Folders in the Space.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FoldersResponse" } } }
          }
        }
      }
    },
    "/v2/space/{space_id}/list": {
      "get": {
        "operationId": "GetFolderlessLists",
        "summary": "Get the Lists in a Space that are not in a Folder.",
        "parameters": [
          { "name": "space_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "archived", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "The folderless Lists in the Space.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListsResponse" } } }
          }
        }
      }
    },
    "/v2/folder/{folder_id}/list": {
      "get": {
        "operationId": "GetLists",
        "summary": "Get the Lists in a Folder.",
        "parameters": [
          { "name": "folder_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "archived", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "The Lists in the Folder.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListsResponse" } } }
          }
        }
      }
    },
    "/v2/list/{list_id}": {
      "get": {
        "operationId": "GetList",
        "summary": "Get a List, including its available statuses.",
        "parameters": [
          { "name": "list_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The List.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/List" } } }
          }
        }
      }
    },
    "/v2/list/{list_id}/task": {
      "get": {
        "operationId": "GetTasks",
        "summary": "Get the tasks in a List.",
        "parameters": [
          { "name": "list_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "page", "in": "query", "description": "Page to fetch (starts at 0).", "schema": { "type": "integer" } },
          { "name": "include_closed", "in": "query", "schema": { "type": "boolean" } },
          { "name": "subtasks", "in": "query", "schema": { "type": "boolean" } },
          { "name": "archived", "in": "query", "schema": { "type": "boolean" } },
          {
            "name": "date_updated_gt",
            "in": "query",
            "description": "Only tasks updated after this epoch-milliseconds timestamp (delta refresh, #194).",
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "The tasks in the List (paginated, 100 per page).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TasksResponse" } } }
          }
        }
      },
      "post": {
        "operationId": "CreateTask",
        "summary": "Create a task in a List.",
        "parameters": [
          { "name": "list_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateTaskRequest" } } }
        },
        "responses": {
          "200": {
            "description": "The created task.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } }
          }
        }
      }
    },
    "/v2/list/{list_id}/field": {
      "get": {
        "operationId": "GetListCustomFields",
        "summary": "Get the Custom Field definitions accessible from a List (their id, name, type, options, and whether each is required). This is the field-definition side (schema); a task's custom_fields carries the values. NOTE: the public v2 response DOES surface a per-field 'required' boolean (verified empirically against real lists), despite older docs omitting it.",
        "parameters": [
          { "name": "list_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The List's accessible Custom Field definitions.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomFieldsResponse" } } }
          }
        }
      }
    },
    "/v2/list/{list_id}/task/{task_id}": {
      "post": {
        "operationId": "AddTaskToList",
        "summary": "Add a task to an additional List (ClickUp's \"Tasks in Multiple Lists\" feature). Requires that ClickApp to be enabled for the Workspace; when disabled the call fails with an HTTP 4xx (ClickUp error OV_016).",
        "parameters": [
          { "name": "list_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "task_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "The task was added to the List (ClickUp returns an empty object)." }
        }
      },
      "delete": {
        "operationId": "RemoveTaskFromList",
        "summary": "Remove a task from an additional List (ClickUp's \"Tasks in Multiple Lists\" feature). The task's home List is unaffected.",
        "parameters": [
          { "name": "list_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "task_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "The task was removed from the List (ClickUp returns an empty object)." }
        }
      }
    },
    "/v2/task/{task_id}": {
      "get": {
        "operationId": "GetTask",
        "summary": "Get a single task with its full detail (description, tags, assignees, dates, custom fields).",
        "parameters": [
          { "name": "task_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "include_subtasks", "in": "query", "schema": { "type": "boolean" } },
          { "name": "custom_task_ids", "in": "query", "schema": { "type": "boolean" }, "description": "When true, task_id is treated as a workspace custom task id; team_id must also be supplied." },
          { "name": "team_id", "in": "query", "schema": { "type": "string" }, "description": "The workspace (team) id, required when custom_task_ids is true." }
        ],
        "responses": {
          "200": {
            "description": "The task.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } }
          }
        }
      },
      "put": {
        "operationId": "UpdateTask",
        "summary": "Update a task (used here to set its status).",
        "parameters": [
          { "name": "task_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateTaskRequest" } } }
        },
        "responses": {
          "200": {
            "description": "The updated task.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } }
          }
        }
      },
      "delete": {
        "operationId": "DeleteTask",
        "summary": "Permanently delete a task. ClickUp returns an empty object. Used to keep the create-task integration test idempotent by removing the throwaway task it creates.",
        "parameters": [
          { "name": "task_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "The task was deleted (ClickUp returns an empty object)." }
        }
      }
    },
    "/v2/task/{task_id}/comment": {
      "get": {
        "operationId": "GetTaskComments",
        "summary": "Get the comments on a task (most recent first).",
        "parameters": [
          { "name": "task_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "start", "in": "query", "description": "Cursor: epoch-ms of the oldest comment from the previous page. Returns comments older than this.", "schema": { "type": "integer", "format": "int64" } },
          { "name": "start_id", "in": "query", "description": "Cursor: id of the oldest comment from the previous page, paired with 'start'.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The task's comments.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CommentsResponse" } } }
          }
        }
      },
      "post": {
        "operationId": "CreateTaskComment",
        "summary": "Post a plain-text comment to a task.",
        "parameters": [
          { "name": "task_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCommentRequest" } } }
        },
        "responses": {
          "200": {
            "description": "The created comment (ClickUp returns only its id, hist_id, and date — not the text/author/blocks).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCommentResponse" } } }
          }
        }
      }
    },
    "/v2/comment/{comment_id}/reply": {
      "get": {
        "operationId": "GetThreadedComments",
        "summary": "Get the replies in a comment's thread (most recent first).",
        "parameters": [
          { "name": "comment_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The comment's reply thread. Replies use the same comment shape as the flat task-comment list; unlike /task/{id}/comment this endpoint is not cursor-paginated (a thread is bounded by its parent).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CommentsResponse" } } }
          }
        }
      },
      "post": {
        "operationId": "CreateThreadedComment",
        "summary": "Post a plain-text reply into a comment's thread.",
        "parameters": [
          { "name": "comment_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCommentRequest" } } }
        },
        "responses": {
          "200": {
            "description": "The created reply (ClickUp returns only its id, hist_id, and date — not the text/author/blocks).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCommentResponse" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "username": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": { "user": { "$ref": "#/components/schemas/User" } }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "members": { "type": "array", "items": { "$ref": "#/components/schemas/Member" } }
        }
      },
      "Member": {
        "type": "object",
        "description": "A Workspace member. ClickUp's GET /team returns each member wrapped as { user: {...} }.",
        "properties": { "user": { "$ref": "#/components/schemas/User" } }
      },
      "WorkspacesResponse": {
        "type": "object",
        "properties": { "teams": { "type": "array", "items": { "$ref": "#/components/schemas/Workspace" } } }
      },
      "Space": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" }
        }
      },
      "SpacesResponse": {
        "type": "object",
        "properties": { "spaces": { "type": "array", "items": { "$ref": "#/components/schemas/Space" } } }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" }
        }
      },
      "FoldersResponse": {
        "type": "object",
        "properties": { "folders": { "type": "array", "items": { "$ref": "#/components/schemas/Folder" } } }
      },
      "Status": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "color": { "type": "string", "nullable": true },
          "orderindex": { "type": "integer", "nullable": true },
          "type": { "type": "string", "nullable": true }
        }
      },
      "TaskList": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string", "nullable": true }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "statuses": { "type": "array", "items": { "$ref": "#/components/schemas/Status" } }
        }
      },
      "ListsResponse": {
        "type": "object",
        "properties": { "lists": { "type": "array", "items": { "$ref": "#/components/schemas/List" } } }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "custom_id": { "type": "string", "nullable": true },
          "name": { "type": "string" },
          "url": { "type": "string", "nullable": true },
          "parent": { "type": "string", "nullable": true },
          "text_content": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "due_date": { "type": "string", "nullable": true },
          "date_created": { "type": "string", "nullable": true },
          "date_updated": { "type": "string", "nullable": true },
          "archived": { "type": "boolean", "nullable": true },
          "status": { "$ref": "#/components/schemas/Status" },
          "priority": { "$ref": "#/components/schemas/Priority" },
          "list": { "$ref": "#/components/schemas/TaskList" },
          "locations": { "type": "array", "items": { "$ref": "#/components/schemas/TaskList" } },
          "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
          "assignees": { "type": "array", "items": { "$ref": "#/components/schemas/User" } },
          "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomField" } },
          "subtasks": { "type": "array", "items": { "$ref": "#/components/schemas/Task" }, "nullable": true }
        }
      },
      "Priority": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "nullable": true },
          "priority": { "type": "string", "nullable": true },
          "color": { "type": "string", "nullable": true }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "tag_fg": { "type": "string", "nullable": true },
          "tag_bg": { "type": "string", "nullable": true }
        }
      },
      "CustomField": {
        "type": "object",
        "description": "A task custom field. Only the stable identity fields are typed; the loosely-typed 'value' (which varies wildly by field type) is intentionally left to Kiota's AdditionalData and not surfaced yet — see the rich-value follow-up issue.",
        "properties": {
          "id": { "type": "string", "nullable": true },
          "name": { "type": "string", "nullable": true },
          "type": { "type": "string", "nullable": true }
        }
      },
      "CustomFieldDefinition": {
        "type": "object",
        "description": "A Custom Field DEFINITION as returned by GET /list/{list_id}/field (the field's schema, not a value on a task). Only the stable identity and the 'required' flag are typed; the loosely-typed 'type_config' (whose 'options' sub-array shape varies by field type) is intentionally left to Kiota's AdditionalData and read back with System.Text.Json, mirroring the task-side CustomField read path (#35).",
        "properties": {
          "id": { "type": "string", "nullable": true },
          "name": { "type": "string", "nullable": true },
          "type": { "type": "string", "nullable": true },
          "required": { "type": "boolean", "nullable": true }
        }
      },
      "CustomFieldsResponse": {
        "type": "object",
        "properties": { "fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldDefinition" } } }
      },
      "CommentBlock": {
        "type": "object",
        "description": "One rich-text run of a comment's structured 'comment' array. A plain run carries only 'text'; an @-mention run additionally carries 'type':'tag' and the mentioned member as 'user' (with the numeric id) — the substrate for id-based mention detection (#167).",
        "properties": {
          "text": { "type": "string", "nullable": true },
          "type": { "type": "string", "nullable": true },
          "user": { "$ref": "#/components/schemas/User" }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "comment_text": { "type": "string", "nullable": true },
          "comment": { "type": "array", "nullable": true, "items": { "$ref": "#/components/schemas/CommentBlock" } },
          "user": { "$ref": "#/components/schemas/User" },
          "date": { "type": "string", "nullable": true },
          "resolved": { "type": "boolean", "nullable": true },
          "reply_count": { "type": "string", "nullable": true, "description": "Number of replies in this comment's thread, as a string (ClickUp returns numeric comment fields as strings, like 'date'). Absent/unparseable ⇒ 0." }
        }
      },
      "CommentsResponse": {
        "type": "object",
        "properties": { "comments": { "type": "array", "items": { "$ref": "#/components/schemas/Comment" } } }
      },
      "CreateCommentRequest": {
        "type": "object",
        "description": "Plain-text comment body, shared by the task-comment (POST /task/{task_id}/comment) and reply (POST /comment/{comment_id}/reply) endpoints. Plain text only; rich content (@-mentions, task links) is a later epic and deliberately not modelled here.",
        "required": ["comment_text"],
        "properties": {
          "comment_text": { "type": "string" },
          "notify_all": { "type": "boolean", "nullable": true }
        }
      },
      "CreateCommentResponse": {
        "type": "object",
        "description": "ClickUp's create-comment response is minimal: it returns the new comment's id, a hist_id, and the server date (epoch ms). It does NOT echo the text, author, or structured blocks. NOTE: on create the id comes back as a JSON number (int64), whereas the GET /comment read path returns it as a string — the client stringifies it so both paths agree.",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "hist_id": { "type": "string", "nullable": true },
          "date": { "type": "integer", "format": "int64", "nullable": true }
        }
      },
      "TasksResponse": {
        "type": "object",
        "properties": {
          "tasks": { "type": "array", "items": { "$ref": "#/components/schemas/Task" } },
          "last_page": { "type": "boolean", "nullable": true }
        }
      },
      "UpdateTaskRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string" },
          "priority": { "type": "integer", "format": "int32", "nullable": true },
          "assignees": { "$ref": "#/components/schemas/AssigneeUpdate" }
        }
      },
      "AssigneeUpdate": {
        "type": "object",
        "properties": {
          "add": { "type": "array", "items": { "type": "integer", "format": "int64" } },
          "rem": { "type": "array", "items": { "type": "integer", "format": "int64" } }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "assignees": { "type": "array", "items": { "type": "integer", "format": "int64" } },
          "priority": { "type": "integer", "format": "int32", "nullable": true },
          "due_date": { "type": "integer", "format": "int64", "nullable": true }
        }
      }
    }
  }
}
